<div class="statistic">
  <div class="top">
    <div class="location">
      <div class="header">
        <button class="header_btn"><img src="../../../../../../img/statistic/arrow-left.svg" alt="arrow"></button>
        <h3 class="header_title">#ИграйДома2: Call of Duty</h3>
        <span class="header_text">Матч 3 из 17</span>
      </div>
      <div class="map">
          <img src="../../../../../../img/statistic/map.png" alt="map">
      </div>
    </div>

    <div class="inventory inventory-desktop">
        <div class="dropdown">
            <div class="dropdown__player">
                <img class="ava" src="../../../../../../img/statistic/avatar.png" alt="avatar">
                <span class="name">Просто Паша</span>
            </div>
            <div class="dropdown__place">
                <span class="place">4 место</span>
                <img class="arrow" src="../../../../../../img/statistic/arrow-dropdown.svg" alt="arrow">
            </div>
        </div>
        <div class="stats">
            <div class="stats__item stats__item_health">
                <div class="stats__info">
                    <span class="stat">24/100 hp</span>
                    <span class="stat-minus">-24 hp</span>
                </div>
                <div class="stats__bar">
                    <div class="main-line"></div>
                    <div class="second-line"></div>
                </div>
            </div>
            <div class="stats__item stats__item_armor">
                <div class="stats__info">
                    <span class="stat">76 armor</span>
                    <span class="stat-minus">+14 armor</span>
                </div>
                <div class="stats__bar">
                    <div class="main-line"></div>
                    <div class="second-line"></div>
                </div>
            </div>
        </div>
        <div class="weapons">
            <div class="weapons__item weapons__item_big">
                <div class="ammunition">
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                </div>
                <div class="weapon">
                    <img class="weapon__element" src="../../../../../../img/statistic/weapon-1.png" alt="weapon">
                </div>                
            </div>
            <div class="weapons__item weapons__item_big">
                <div class="ammunition">
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                </div>
                <div class="weapon">
                    <img class="weapon__element" src="../../../../../../img/statistic/weapon-1.png" alt="weapon">
                </div>   
            </div>
            <div class="weapons__item weapons__item_small weapons__item_single">
                <div class="weapon">
                    <img class="weapon__element" src="../../../../../../img/statistic/weapon-3.png" alt="weapon">
                </div>
            </div>
            <div class="weapons__item weapons__item_small">
                <div class="ammunition">
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                </div>
                <div class="weapon">
                    <img class="weapon__element" src="../../../../../../img/statistic/weapon-2.png" alt="weapon">
                </div>  
            </div>
        </div>
        <div class="stock">
            <div class="stock__title">Рюкзак – lvl2</div>
            <div class="stock__elements">
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-1.png" alt="item">
                    <span class="stock__number">2</span>
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-2.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-3.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-4.png" alt="item">
                    <span class="stock__number">3</span>
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-5.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-6.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-3.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-1.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-1.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-2.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-3.png" alt="item">
                </div>
            </div>
        </div>
        <div class="stock">
            <div class="stock__title">экипировка</div>
            <div class="stock__elements">
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/armor-1.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/armor-1.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/armor-2.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/armor-3.png" alt="item">
                </div>
            </div>
        </div>
        <div class="stock">            
            <div class="stock__transport">
                <div class="stock__transport__info">
                    <div class="stock__title">транспорт</div>
                    <div class="stock__col-block">
                        <div class="name">Снегоход</div>
                        <div class="hp">50 / 100</div>
                    </div>                    
                    <div class="fuel">
                        <img class="fuel__img" src="../../../../../../img/statistic/fuel.svg" alt="fuel">
                        <div class="fuel__bar">
                            <div class="fuel__bar__line"></div>
                        </div>
                    </div>
                </div>
                <div class="stock__transport__image">
                    <img src="../../../../../../img/statistic/transport-big.png" alt="transport">
                </div>
            </div>
        </div>
    </div>

    <div class="inventory inventory-tablet">
        <div class="inventory-tablet__left">
            <div class="dropdown">
                <div class="dropdown__player">
                    <img class="ava" src="../../../../../../img/statistic/avatar.png" alt="avatar">
                    <span class="name">Планшетная</span>
                </div>
                <div class="dropdown__place">
                    <span class="place">4 место</span>
                    <img class="arrow" src="../../../../../../img/statistic/arrow-dropdown.svg" alt="arrow">
                </div>
            </div>
            <div class="weapons">
                <div class="weapons__item weapons__item_big">
                    <div class="ammunition">
                        <div class="ammunition__row">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        </div>
                        <div class="ammunition__row">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        </div>
                    </div>
                    <div class="weapon">
                        <img class="weapon__element" src="../../../../../../img/statistic/weapon-1.png" alt="weapon">
                    </div>                
                </div>
                <div class="weapons__item weapons__item_big">
                    <div class="ammunition">
                        <div class="ammunition__row">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        </div>
                        <div class="ammunition__row">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        </div>
                    </div>
                    <div class="weapon">
                        <img class="weapon__element" src="../../../../../../img/statistic/weapon-1.png" alt="weapon">
                    </div>   
                </div>
                <div class="weapons__item weapons__item_small weapons__item_single">
                    <div class="weapon">
                        <img class="weapon__element" src="../../../../../../img/statistic/weapon-3.png" alt="weapon">
                    </div>
                </div>
                <div class="weapons__item weapons__item_small">
                    <div class="ammunition">
                        <div class="ammunition__row">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        </div>
                        <div class="ammunition__row">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                            <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        </div>
                    </div>
                    <div class="weapon">
                        <img class="weapon__element" src="../../../../../../img/statistic/weapon-2.png" alt="weapon">
                    </div>  
                </div>
            </div>
        </div>
        <div class="inventory-tablet__right">
            <div class="stats">
                <div class="stats__item stats__item_health">
                    <div class="stats__info">
                        <span class="stat">24/100 hp</span>
                        <span class="stat-minus">-24 hp</span>
                    </div>
                    <div class="stats__bar">
                        <div class="main-line"></div>
                        <div class="second-line"></div>
                    </div>
                </div>
                <div class="stats__item stats__item_armor">
                    <div class="stats__info">
                        <span class="stat">76 armor</span>
                        <span class="stat-minus">+14 armor</span>
                    </div>
                    <div class="stats__bar">
                        <div class="main-line"></div>
                        <div class="second-line"></div>
                    </div>
                </div>
            </div>
            <div class="stock">
                <div class="stock__title">Рюкзак – lvl2</div>
                <div class="stock__elements">
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/inventory-item-1.png" alt="item">
                        <span class="stock__number">2</span>
                    </div>
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/inventory-item-2.png" alt="item">
                    </div>
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/inventory-item-3.png" alt="item">
                    </div>
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/inventory-item-4.png" alt="item">
                        <span class="stock__number">3</span>
                    </div>
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/inventory-item-5.png" alt="item">
                    </div>
                    <div class="stock__element stock__element-last">
                        <div class="stock__element-text">+4</div>
                        <div class="stock__element-popup">
                            <img src="../../../../../../img/statistic/inventory-item-1.png" alt="img">
                            <img src="../../../../../../img/statistic/inventory-item-2.png" alt="img">
                            <img src="../../../../../../img/statistic/inventory-item-3.png" alt="img">
                            <img src="../../../../../../img/statistic/inventory-item-4.png" alt="img">
                            <img src="../../../../../../img/statistic/inventory-item-5.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="stock">
                <div class="stock__title">экипировка и транспорт</div>
                <div class="stock__elements">
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/armor-1.png" alt="item">
                    </div>
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/armor-1.png" alt="item">
                    </div>
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/armor-2.png" alt="item">
                    </div>
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/armor-3.png" alt="item">
                    </div>
                    <div class="stock__element">
                        <img class="stock__img" src="../../../../../../img/statistic/armor-3.png" alt="item">
                    </div>
                    <div class="stock__element stock__element-last stock__element-last_blue">
                        <div class="stock__element-text">+4</div>
                        <!-- Скрыл попап, чтобы не мешал -->
                        <!-- <div class="stock__element-popup">
                            <img src="../../../../../../img/statistic/inventory-item-1.png" alt="img">
                            <img src="../../../../../../img/statistic/inventory-item-2.png" alt="img">
                            <img src="../../../../../../img/statistic/inventory-item-3.png" alt="img">
                            <img src="../../../../../../img/statistic/inventory-item-4.png" alt="img">
                            <img src="../../../../../../img/statistic/inventory-item-5.png" alt="img">
                        </div> --> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="inventory inventory-mobile">
        <div class="dropdown">
            <div class="dropdown__player">
                <img class="ava" src="../../../../../../img/statistic/avatar.png" alt="avatar">
                <span class="name">Мобильная</span>
            </div>
            <div class="dropdown__place">
                <span class="place">4 место</span>
                <img class="arrow" src="../../../../../../img/statistic/arrow-dropdown.svg" alt="arrow">
            </div>
        </div>
        <div class="stats">
            <div class="stats__item stats__item_health">
                <div class="stats__info">
                    <span class="stat">24/100 hp</span>
                    <span class="stat-minus">-24 hp</span>
                </div>
                <div class="stats__bar">
                    <div class="main-line"></div>
                    <div class="second-line"></div>
                </div>
            </div>
            <div class="stats__item stats__item_armor">
                <div class="stats__info">
                    <span class="stat">76 armor</span>
                    <span class="stat-minus">+14 armor</span>
                </div>
                <div class="stats__bar">
                    <div class="main-line"></div>
                    <div class="second-line"></div>
                </div>
            </div>
        </div>
        <div class="weapons">
            <div class="weapons__item weapons__item_big">
                <div class="ammunition">
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                </div>
                <div class="weapon">
                    <img class="weapon__element" src="../../../../../../img/statistic/weapon-1.png" alt="weapon">
                </div>                
            </div>
            <div class="weapons__item weapons__item_big">
                <div class="ammunition">
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                </div>
                <div class="weapon">
                    <img class="weapon__element" src="../../../../../../img/statistic/weapon-1.png" alt="weapon">
                </div>   
            </div>
            <div class="weapons__item weapons__item_small weapons__item_single">
                <div class="weapon">
                    <img class="weapon__element" src="../../../../../../img/statistic/weapon-3.png" alt="weapon">
                </div>
            </div>
            <div class="weapons__item weapons__item_small">
                <div class="ammunition">
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                    <div class="ammunition__row">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                        <img class="ammunition__element" src="../../../../../../img/statistic/bullets.png" alt="bullets">
                    </div>
                </div>
                <div class="weapon">
                    <img class="weapon__element" src="../../../../../../img/statistic/weapon-2.png" alt="weapon">
                </div>  
            </div>
        </div>
        <div class="stock">
            <div class="stock__title">Рюкзак – lvl2</div>
            <div class="stock__elements">
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-1.png" alt="item">
                    <span class="stock__number">2</span>
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-2.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-3.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-4.png" alt="item">
                    <span class="stock__number">3</span>
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-5.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-6.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-3.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-1.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-1.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-2.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/inventory-item-3.png" alt="item">
                </div>
            </div>
        </div>
        <div class="stock">
            <div class="stock__title">экипировка</div>
            <div class="stock__elements">
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/armor-1.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/armor-1.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/armor-2.png" alt="item">
                </div>
                <div class="stock__element">
                    <img class="stock__img" src="../../../../../../img/statistic/armor-3.png" alt="item">
                </div>
            </div>
        </div>
        <div class="stock">            
            <div class="stock__transport">
                <div class="stock__transport__info">
                    <div class="stock__title">транспорт</div>
                    <div class="stock__col-block">
                        <div class="name">Снегоход</div>
                        <div class="hp">50 / 100</div>
                    </div>                    
                    <div class="fuel">
                        <img class="fuel__img" src="../../../../../../img/statistic/fuel.svg" alt="fuel">
                        <div class="fuel__bar">
                            <div class="fuel__bar__line"></div>
                        </div>
                    </div>
                </div>
                <div class="stock__transport__image">
                    <img src="../../../../../../img/statistic/transport-big.png" alt="transport">
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="info__item">
            <div class="info__img">
                <img src="../../../../../../img/statistic/cup.svg" alt="cup">
            </div>
            <div class="info__number">28</div>
            <div class="info__text">Место в матче</div>         
        </div>
        <div class="info__item">
            <div class="info__img">
                <img src="../../../../../../img/statistic/swords.svg" alt="swords">
            </div>
            <div class="info__number">56</div>
            <div class="info__text">Суммарный урон</div>
        </div>
        <div class="info__item">
            <div class="info__img">
                <img src="../../../../../../img/statistic/skull.svg" alt="skull">
            </div>
            <div class="info__number">35</div>
            <div class="info__text">Килов </div>
        </div>
        <div class="info__item">
            <div class="info__img">
                <img src="../../../../../../img/statistic/aim.svg" alt="aim">
            </div>
            <div class="info__number">23</div>
            <div class="info__text">Хедшотов</div>
        </div>
    </div>
  </div>

  <div class="bottom">
    <div class="shots">
        <div class="shots__info">
            <div class="shots__title">Точность игрока</div>
            <div class="shots__subtitle">Средняя точность – 48%</div>
            <div class="shots__items">
                <div class="shots__item">
                    <div class="shots__item-header">
                        <div>0 – 30 м</div>
                        <div>480 попаданий</div>
                    </div>
                    <div class="shots__item-body">
                        <div class="shots__item-row">
                            <div class="key">АК – 47</div>
                            <div class="line"></div>
                            <div class="value">201</div>
                        </div>
                        <div class="shots__item-row">
                            <div class="key">m16</div>
                            <div class="line"></div>
                            <div class="value">80</div>
                        </div>
                        <div class="shots__item-row">
                            <div class="key">Мосин-Наган</div>
                            <div class="line"></div>
                            <div class="value">1</div>
                        </div>
                        <div class="shots__item-row">
                            <div class="key">Frag Grenade </div>
                            <div class="line"></div>
                            <div class="value">1</div>
                        </div>
                    </div>
                </div>
                <div class="shots__item">
                    <div class="shots__item-header">
                        <div>30 - 150 м</div>
                        <div>240 попаданий</div>
                    </div>
                    <div class="shots__item-body">
                        <div class="shots__item-row">
                            <div class="key">АК – 47</div>
                            <div class="line"></div>
                            <div class="value">201</div>
                        </div>
                        <div class="shots__item-row">
                            <div class="key">Winchester Model 1894</div>
                            <div class="line"></div>
                            <div class="value">80</div>
                        </div>
                        <div class="shots__item-row">
                            <div class="key">Smoke Grenade</div>
                            <div class="line"></div>
                            <div class="value">1</div>
                        </div>
                    </div>
                </div>
                <div class="shots__item">
                    <div class="shots__item-header">
                        <div>150 - 350 м</div>
                        <div>27 попаданий</div>
                    </div>
                    <div class="shots__item-body">
                        <div class="shots__item-row">
                            <div class="key">АК – 47</div>
                            <div class="line"></div>
                            <div class="value">201</div>
                        </div>
                        <div class="shots__item-row">
                            <div class="key">m16</div>
                            <div class="line"></div>
                            <div class="value">80</div>
                        </div>
                    </div>
                </div>
                <div class="shots__item">
                    <div class="shots__item-header">
                        <div>30 - 150 м</div>
                        <div>240 попаданий</div>
                    </div>
                    <div class="shots__item-body">
                        <div class="shots__item-row">
                            <div class="key">АК – 47</div>
                            <div class="line"></div>
                            <div class="value">201</div>
                        </div>
                        <div class="shots__item-row">
                            <div class="key">m16</div>
                            <div class="line"></div>
                            <div class="value">80</div>
                        </div>
                        <div class="shots__item-row">
                            <div class="key">Molotov Cocktail </div>
                            <div class="line"></div>
                            <div class="value">1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shots__man"></div>
    </div>

    <div class="soundness">
        <div class="soundness__title">Здоровье</div>
        <div class="soundness__col-block">
            <div class="soundness__bars">
                <div class="soundness__item">
                    <div class="soundness__item-info">
                        <span class="hp">-134 hp</span>
                        <span class="description">Травмы от зоны</span>
                    </div>
                    <div class="soundness__item-bar">
                        <div class="main-line"></div>
                    </div>
                </div>
                <div class="soundness__item">
                    <div class="soundness__item-info">
                        <span class="hp">-864 hp</span>
                        <span class="description">Сражения</span>
                    </div>
                    <div class="soundness__item-bar">
                        <div class="main-line"></div>
                    </div>
                </div>
                <div class="soundness__item">
                    <div class="soundness__item-info">
                        <span class="hp">-134 hp</span>
                        <span class="description">Прочий урон</span>
                    </div>
                    <div class="soundness__item-bar">
                        <div class="main-line"></div>
                    </div>
                </div>
                <div class="soundness__item">
                    <div class="soundness__item-info">
                        <span class="hp">+864 hp</span>
                        <span class="description">Вылечено</span>
                    </div>
                    <div class="soundness__item-bar">
                        <div class="main-line main-line_green"></div>
                    </div>
                </div>
            </div>
            <div class="soundness__stats">
                <div class="soundness__stats-title">Общие показатели</div>
                <div class="soundness__stats-items">
                    <div class="soundness__stats-item">
                        <div class="key">Игрок полечился</div>
                        <div class="line"></div>
                        <div class="value">2</div>
                    </div>
                    <div class="soundness__stats-item">
                        <div class="key">Игрока возродили</div>
                        <div class="line"></div>
                        <div class="value">3</div>
                    </div>
                    <div class="soundness__stats-item">
                        <div class="key">Игрок был сбит с ног</div>
                        <div class="line"></div>
                        <div class="value">4</div>
                    </div>
                    <div class="soundness__stats-item">
                        <div class="key">Нашел лекарство</div>
                        <div class="line"></div>
                        <div class="value">0</div>
                    </div>
                </div>
            </div>
            <div class="soundness__heals">
                <div class="soundness__heals-title">Лечилки</div>
                <div class="soundness__heals-items">
                    <div class="soundness__heals-item"><img src="../../../../../../img/statistic/inventory-item-1.png" alt="item"></div>
                    <div class="soundness__heals-item"><img src="../../../../../../img/statistic/inventory-item-6.png" alt="item"></div>
                    <div class="soundness__heals-item"><img src="../../../../../../img/statistic/inventory-item-3.png" alt="item"></div>
                    <div class="soundness__heals-item"><img src="../../../../../../img/statistic/inventory-item-7.png" alt="item"></div>
                    <div class="soundness__heals-item"><img src="../../../../../../img/statistic/inventory-item-8.png" alt="item"></div>
                    <div class="soundness__heals-item"><img src="../../../../../../img/statistic/inventory-item-9.png" alt="item"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="vehicles">
        <div class="vehicles__title">Передвижение</div>
        <div class="vehicles__items">
            <div class="vehicles__item">
                <img class="vehicles__img" src="../../../../../../img/statistic/transport-1.png" alt="item">
                <span class="vehicles__span">145 км</span>
            </div>
            <div class="vehicles__item">
                <img class="vehicles__img" src="../../../../../../img/statistic/transport-2.png" alt="item">
                <span class="vehicles__span">145 км</span>
            </div>
            <div class="vehicles__item">
                <img class="vehicles__img" src="../../../../../../img/statistic/transport-3.png" alt="item">
                <span class="vehicles__span">145 км</span>
            </div>
            <div class="vehicles__item">
                <img class="vehicles__img" src="../../../../../../img/statistic/transport-4.png" alt="item">
                <span class="vehicles__span">145 км</span>
            </div>
            <div class="vehicles__item">
                <img class="vehicles__img" src="../../../../../../img/statistic/transport-5.png" alt="item">
                <span class="vehicles__span">145 км</span>
            </div>
            <div class="vehicles__item">
                <img class="vehicles__img" src="../../../../../../img/statistic/transport-6.png" alt="item">
                <span class="vehicles__span">145 км</span>
            </div>
        </div>
    </div>
  </div>
</div>
